// Base
@import "./base/vars";

// Vendors
@import "./vendors/index";

@-moz-document url-prefix() {
  select,
  select:-moz-focusring,
  select::-moz-focus-inner {
    color: transparent !important;
    text-shadow: 0 0 0 $black !important;
    background-image: none !important;
    border: 0;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

body {
  font-family: $defaultFont;
  font-size: 14px;
  background: $grayf5;
}

// Material Icons
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}
// Material Icons Close
select {
  font-family: $defaultFont;
}
.btn {
  background: $link;
  color: $white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  padding: 12px 30px;
  &:hover {
    background: $hover;
    color: $white;
  }
  &.disabled {
    background: $gray;
  }
  i {
    font-size: 20px;
    vertical-align: middle;
  }
  &.btn-save {
    min-width: 330px;
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: 600;
  margin-bottom: 20px;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 12px;
}
.error {
  border-color: $dangerlight !important;
}
.error-message {
  margin-bottom: 10px;
  background: $dangerlight;
  font-size: 12px;
  border-radius: 5px;
  padding: 10px 15px;
  color: $white;
  display: flex;
  align-items: center;
  i {
    margin-right: 5px;
    font-size: 20px;
  }
}
.section-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 15px;
  text-transform: uppercase;
  @media (max-width: $breakpoint-tablet) {
    & {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}

.main-section {
  padding-top: 120px;
  @media (max-width: $breakpoint-tablet) {
    padding-top: 105px;
    overflow: hidden;
    &.review-order-section {
      padding-bottom: 88px;
    }
    > .container {
      & {
        min-width: 100%;
        padding: 0;
      }
      .section-title {
        padding-left: 15px;
      }
    }
  }
}


