* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #637282;
}
a {
  text-decoration: none;
  color: #0061ff;
}
a:hover {
  text-decoration: underline;
}
button {
  font-family: 'Open Sans', sans-serif;
}
/*  */
#wrapper {
padding-top: 50px;
}
.login-container {
  width: 360px;
  margin: auto;
}
.logo-container {
  text-align: center;
  margin-bottom: 40px;
}
.logo-container img {
  max-width: 128px;
}
.heading-container {
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 18px;
  color: #000;
}
.login-form-google {
  text-align: center;
  margin-bottom: 20px;
}
.login-form-google button {
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid rgba(0,0,0,0.1);
  height: 38px;
  padding: 8px 5px;
  border-radius: 4px;
  background-color: #1a73e8;
  background-image: url(../images/google.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  cursor: pointer;
  position: relative;
}
.login-form-google button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 36px;
  border-left: 1px solid #2265d4
}
.login-form-google button:hover {
    border-color: rgba(0,0,0,0.1);
    background-color: #5496ff;
}
.hr-label {
  text-align: center;
  color: #000;
  overflow: hidden;
  margin-bottom: 5px;
}
.hr-label .text {
  position: relative;
  display: inline-block;
  line-height: 15px;
}
.hr-label .text::after,
.hr-label .text::before {
  content: '';
  width: 999em;
  height: 1px;
  background: #000;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -0.5px;
  margin-left: 15px;
}
.hr-label .text::after {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: 15px;
}
.login-container-form {
  margin-bottom: 70px;
}

.login-container-form .input-field .error-box {
  display: block;
  height: 17px;
  line-height: 12px;
  font-size: 11px;
  color: #e82110;
}
.login-container-form .input-field input {
  width: 100%;
  margin: 2px 0 5px;
  min-height: 34px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-appearance: none;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,0.15);
  padding: 5px 6px;
  color: #000;
  font-family: 'Open Sans', sans-serif; 
}
.login-container-form .input-field input.error {
  border-color: #e3a8a7;
}
.recaptcha-terms-text {
  font-size: 12px;
  font-weight: 200;
  line-height: 150%;
  color: #637282;
  margin-bottom: 14px;
}
.login-form-bottom {
  display: flex;
  align-items: center;
}
.login-need-help {
  width: 100%;
}
.login-form-bottom .button-area {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.login-form-bottom .button-area button {
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px;
  background-color: #0070e0;
  background-image: linear-gradient(#168add, #007ee5);
  border: 1px solid #0c6ebe;
  color: #fff;
  padding: 6px 16px;
  min-height: 34px;
  cursor: pointer; 
  font-family: 'Open Sans', sans-serif;
}
.login-register-switch {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}
.popup-container {
  text-align: center;
  border: 1px solid #e5e5e5;
  position: relative;
  border-radius: 14px;
  width: 480px;
  padding-top: 85px;
  margin-top: 40px;
  padding-bottom: 22px;
  color: #000;
}
.popup-container .inner-popup-wrapp {
  max-width: 360px;
  margin: auto;
}
.popup-container .inner-popup-wrapp p {
  margin-bottom: 20px;
}
.popup-container .logo-container {
  position: absolute;
  left: 0;
  top: -66px;
  width: 100%;
}
.button-panel form {
  display: inline;
}
.button-panel .btn {
  display: inline-block;
  margin: 0 8px;
  width: 120px;
  min-height: 34px;
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  font-weight: 600;
  color: #444;
  line-height: 21px;
  text-decoration: none;
  background-color: transparent;
}
.button-panel .btn.btn-submit {
  background-color: #0070e0;
  background-image: linear-gradient(#168add, #007ee5);
  border: 1px solid #0c6ebe;
  color: #fff;
}