
// Base
@import './base/vars';

// Vendors
@import './vendors/index';

@-moz-document url-prefix() {
  select,
  select:-moz-focusring,
  select::-moz-focus-inner {
    color: transparent !important;
    text-shadow: 0 0 0 $black !important;
    background-image: none !important;
    border: 0;
  }
}
button ,a {
  &:focus,&:active {
    outline: none !important;
    box-shadow: none !important;
  }
}
input,textarea {
  &:focus {
    outline: none;
     box-shadow: none !important;
  }
}
textarea {
  resize: none;
}
body {
  font-family: $defaultFont !important;
  font-size: 14px;
  color: $black;
  background: linear-gradient(0deg, $lightgray calc(100% - 250px), $darkcolor 250px) no-repeat !important;
  background-attachment: fixed;
  overflow-x: hidden;

}
#template {
  margin-top: 5px;
}
html,body,#root,#App {
    min-height: 100%;
}
.tooltip-inner {
  background-color: rgba($black, 0.5) !important;
  color: $white ;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: rgba($black, 0.5) !important;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: rgba($black, 0.5) !important;
}


.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: rgba($black, 0.5) !important;
}


.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: rgba($black, 0.5) !important;
}
.signup-wrapper {
  background: $white;
  .row {
    margin: 0;
    .col-6 {
      padding: 0;
    }
  }
  .header-signup {
    position: relative;
    z-index: 2;
    .container {
      max-width: 1130px;
      padding-top: 15px;
    }
    .main-navigation {
      > li > a {
        color: $lightlink;
        white-space: nowrap;
        margin-right: 20px;
        i {
          margin: 0 6px 0 0;
          font-size: 20px;
          color: $borderlight;
          vertical-align: top;
          position: relative;
          top: -2px;
          img {
            max-width: 16px;
          }
        }
      }
    }
  }
  .main-section {
  .container {
    padding-top: 100px;
    padding-bottom: 25px;
    max-width: 1130px;
    z-index: 1;
    &:before {
      content: '';
      width: 325px;
      height: 325px;
      border-radius: 100%;
      border: 41px solid $color-warning;
      display: block;
      position: absolute;
      left: -100px;
      top: 10px;
      pointer-events: none;
      z-index: -1;
    }
    &:after {
      content: '';
      width: 325px;
      height: 325px;
      border-radius: 100%;
      border: 41px solid $color-secondary;
      display: block;
      position: absolute;
      right: -120px;
      top: 50%;
      pointer-events: none;
      transform: translateY(-60%);
      z-index: -1;
    }
    position: relative;
    .wrapper-box {
      padding: 0;
      overflow: hidden;
      &:before {
        content: '';
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background: rgba($color-secondary, 0.5);
        position: absolute;
        left: -40px;
        z-index: -1;
        bottom: 20%;
      }
    }
  }
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1360px;
  }
}
// Material Icons
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
// Material Icons Close
select {
  font-family: $defaultFont;
}

.btn {
  background: $hover;
  color: $white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  padding: 12px 30px;
  &:hover {
    background: $darkcolor;
    color: $white;  
  }
  &.disabled {
    background: $gray;
  }
  i {
    font-size: 20px;
    vertical-align: middle;
  }
  &.btn-save {
    min-width: 330px;
  }
  &.pointer-none {
    pointer-events: none;
  }
}
.btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus {
  box-shadow: none !important;
}
.link,a {
   color: $link;
}

h1,h2,h3,h4,h5,h5 {
  font-weight: 600;
  color: $black;
  margin-bottom: 20px;
} 
h1 {
  font-size: 28px;
} 
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 12px;
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  word-break: break-word;
}

// 
@-moz-document url-prefix() {
  .label-select {
    select {
      text-indent: 8px !important;
    }
  }
}