$grid-width: 1300px;
$grid-width-laptop-wide-landscape: 1100px;
$grid-width-laptop-landscape: 950px;
$grid-width-ipad-landscape: 768px;
$grid-width-ipad-portrait: 600px;
$grid-width-phone-landscape: 420px;
$grid-width-phone-portrait: 300px;
$grid-width-smaller-phone-portrait: 95%;

$grid-width-boxed: 1390px;
$grid-width-laptop-wide-landscape-boxed: 1200px;
$grid-width-laptop-landscape-boxed: 1000px;
$grid-width-ipad-landscape-boxed: 818px;
$grid-width-ipad-portrait-boxed: 650px;
$grid-width-phone-landscape-boxed: 470px;
$grid-width-phone-portrait-boxed: 350px;
$grid-width-smaller-phone-portrait-boxed: 96%;

$grid-width-1300: 1300px;
$grid-width-1200: 1200px;
$grid-width-1000: 1000px;
$grid-width-800: 800px;

$first-main-color: var(--primary);
$first-main-color-rgb: var(--primaryrgb);
$second-main-color: var(--secondary);
$second-main-color-rgb: var(--secondaryrgb);
$elements-dark-background-color: #212121;
$default-background-color: #fff;
$default-elements-background-color: #efefef;
$default-text-color: #888888;
$default-heading-color: #313131;
$default-border-color: #d9d9d9;
$default-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
$header-light-color: #ffffff;
$header-dark-color: #000000;

$first-font:'Rubik', sans-serif;
$second-font: 'Rubik', sans-serif;

//responsive breakpoints
$laptop-wide-landscape: 1400px;
$laptop-mid-landscape: 1280px;
$laptop-landscape: 1200px;
$ipad-landscape: 1024px;
$ipad-portrait: 768px;
$phone-landscape: 600px;
$phone-portrait: 480px;
$smaller-phone-portrait: 320px;

$vertical-menu-width: 290px;

// responsive breakpoints vertical menu
$vertical-menu-laptop-wide-landscape: 1650px;
$vertical-menu-laptop-landscape: 1490px;
$vertical-menu-ipad-landscape: 1314px;

// Colors
$color-primary: #1cb495 !default;
$color-primary-light: #5defd2 !default;
$color-secondary: #109BC5 !default;
$color-success: #84BF6C !default;
// $color-success: #67c23a !default;
$color-warning: #F98C00 !default;
$color-danger: #B00020 !default;
$dangerlight: #E45154 !default;
$color-info: #878d99 !default;
$white: #fff !default;
$black: #000 !default;
$lightgray: #E4E4E4 !default;
$light: #fcfcfc !default;
$gray: #6D6D6D !default;
$border: #d5d5d5 !default;
$link: #0072BC !default;
$lightlink: #00AAE3 !default;
$hover: #1B9BC5 !default;
$text: #707070 !default;
$borderhover: #F4821F !default;
$lightbackground: #E8F1F4 !default;
$borderlight: #DEDFE1 !default;
$darkcolor: #117093 !default;
$lightheader: #F3F6F9 !default;
$themeblue: #169ACF !default;
$text555: #555 !default;
$text666: #666 !default;
$offwhite: #cfcfcf !default;
$lightf4: #f4f4f4 !default;
$text2b: #2B2B2B !default;


// Social colors

$color-instagram: #e4405f;
$color-twitter: #55acee;
$color-pinterest: #bd081c;
$color-facebook: #3b5999;
$color-youtube: #FB4A38;
$color-linkedin: #0078AA;
$color-google: #dd4b39;