.device-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $light;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  .device-container {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 500px;
    background: $white;
    color: #333;
    box-shadow: 0 6px 18px 0 rgba($black,.2);
    border-radius: 8px;
    background: $light;
    .device-menu {
      display: flex;
      width: 140px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 50px;
      color: $black;
      .header {
        max-height: 70px;
      }
      .device-item {
        cursor: pointer;
        text-align: center;
        width: 100%;
        padding: 20px 0;
        border-left: 3px solid transparent;
        .device-icon {
          img {
            max-width: 70px;
          }
        }
        &.active {
          background: $white;
          border-color: $link;
          cursor: default;
        }
      }
    }
    .device-viewpoint {
      background: $white;
      border-radius: 8px;
      display: flex;
      width: 560px;
      position: relative;
      .btn-close-viewpoints {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        opacity: 0.7;
        display: inline-block;
        z-index: 9;
      }
    }
  }
}
.device-audio-container {

  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin: 44px 60px;
  position: relative;
  .device-progress {
    width: 100%;
    height: 15px;
    margin-bottom: 30px;
    background: repeating-linear-gradient(
      to right,
      $white,
      $gray-600 2px,
      $white 2px,
      $white 4px
    );
    .progress-bar {
       background: repeating-linear-gradient(
        to right,
        $white,
        $link 2px,
        $white 2px,
        $white 4px
      );
      height: 15px;
    }
  }
  .microphone-name {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-600;
    font-size: 13px;
    color: $gray-600;
    min-height: 32px;  
  }
  .device-mic-detail {
    text-align: center;
    margin-bottom: 15px;
    .icon-microphone {
      img {
        max-width: 135px;
      }
      .video-wrapper {
        width: 100%;
        height: 240px;
      }
    }
  }
  .device-cam-detail {
    .icon-microphone {
      .video-wrapper {
        width: 100%;
        height: 242px;
        margin-bottom: 12px;
        &.no-videowrapper {
          display: flex;
          align-content: center;
          justify-content: center;
          background: $gray-600;
        }
      }
    }
  }
  .device-audio-player {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    .icon-play-pause {
      cursor: pointer;
      width: 50px;
      height: 50px;
      background: url(../images/play.png) no-repeat center center;
      background-size: cover;
      margin: auto;
      margin-bottom: 20px;
      &.pause {
        background: url(../images/pause.png) no-repeat center center;
        background-size: cover;
      }
    }
  }
  .device-volume-control {
    input {
      -webkit-appearance: none;
      width: 100%;
      height: 5px;
      background: $gray-400;
      outline: none;
      opacity: 0.7;
      border-radius: 20px;
      -webkit-transition: .2s;
      transition: opacity .2s;
      margin-bottom: 10px;
      &:hover {
        opacity: 1;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: $link;
        border-radius: 100%;
        cursor: pointer;
      }
      &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: $link;
        border-radius: 100%;
        cursor: pointer;
      }
    }
    p {
      strong {
        font-weight: 600;
      }
    }
  }
  .device-test-panel {
    text-align: center;
    margin-top: 20px;
    .btn {
      width: 120px;
      height: 40px;
      border-radius: 22px;
      border: 1px solid $gray-500;
      margin: 0 10px;
      font-size: 14px;
      &:last-child {
        background: $link;
        color: $white;
        border-color: $link;
      }
    }
  }
  .test-results-wrapp {
    margin-top: 30px;
    margin-bottom: 40px;
    .test-item {
      margin-top: 30px;
      display: flex;
      align-items: flex-start;
      .label {
        width: 170px;
        min-width: 170px;
        display: flex;
        align-items: center;
      }
      .detail {
        display: flex;
        align-items: flex-start;
        .material-icons {
          border-radius: 100%;
          background: $green;
          color: $white;
          font-size: 16px;
          line-height: 20px;
          width: 20px;
          min-width: 20px;
          height: 20px;
          text-align: center;
          margin-right: 10px;
          margin-top: 2px;
          &.error {
            background: $red;
          }
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }

}
.btn_open_settings {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 99;
  margin: auto;
  background: $white;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: -3px 0 6px rgba($black,.2);
  border-radius: 6px 0 0 6px;
  i {
    font-size: 25px;
  }
}