.OTPublisherContainer,
.OTSubscriberContainer {
  width: 100% !important;
  height: 100% !important;
}

h1.OT_name.OT_edge-bar-item.OT_mode-auto {
  display: none !important;
}

.opentok-join-meeting {
  background: url(../../assets/agora-room.png) no-repeat;
  background-size: cover;
}

.opentok-join-meeting-audience {
  background: url(../../assets/agora-audience.png) no-repeat;
  background-size: cover;
  border: black 2px solid;
}

.full-screen-player, .full-screen-player div, .full-screen-player video {
  background-color: initial !important;
}