.ebs-manage-packages {
  padding: 60px 0;
  .ebs-header-packages {
    margin-bottom: 60px;
    text-align: center;
    .ebs-header-content {
      max-width: 720px;
      margin: auto;
      h1 {
				font-size: 35px;
				position: relative;
				padding-bottom: 20px;
				margin-bottom: 20px;
				&::after {
					content: '';
					width: 50px;
					height: 4px;
					background: var(--primary);
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 0;
				}
      }
    }
  }
	.ebs-package-table-wrapp {
		height: 100%;
		background: #FAFAFA;
		padding: 40px 16px 100px;
		border-radius: 4px 4px 0 0;
		border-top: 4px solid var(--primary);
		position: relative;
		&.ebs-no-table-footer {
			padding-bottom: 10px;
		}
		h5 {
			font-size: 14px;
			color: #313131;
			margin-bottom: 10px;
			margin-top: 0;
		}
		h3 {
			font-size: 30px;
			color: #313131;
			text-transform: none;
			margin: 0 0 12px;
		}
		p {
			line-height: 1.5;
			margin: 0 0 25px 0;
			color: #8C8C8C;
		}
		.ebs-table-price {
			font-size: 52px;
			font-weight: 600;
			color: var(--primary);
			padding-bottom: 20px;
			line-height: 1.2;
			small {
				font-size: 28px;
				text-transform: uppercase;
			}
		}
		.ebs-table-price-listing {
			margin: 0 0 20px 0;
			padding: 20px 0 10px;
			border-top: 1px solid var(--primary);
			border-bottom: 1px solid var(--primary);
			p {
				color: #313131;
				font-weight: 500;
				margin-bottom: 12px;
				font-size: 14px;
			}
		}
		ul {
			list-style: none;
			li {
				color: #313131;
				font-weight: 500;
				margin-bottom: 12px;
				font-size: 14px;
			}
		}
	}
	.ebs-table-timer {
		margin-bottom: 10px;
		h4 {
			margin: 0 0 10px 0;
			font-size: 14px;
			color: #313131;
		}
	}
	.ebs-countdown-wrapp {
		background: rgba(16,89,251,0.05);
		padding: 13px 15px 18px;
		.edgtf-countdown {
			flex: 1;
			text-align: center;
			&:first-child {
				.ebs-countdown-amount {
					&::after {
						display: none;
					}
				}
			}
			.ebs-countdown-period {
				font-size: 12px;
				font-weight: 500;
				color: #313131;
				padding-bottom: 12px;
			}
			.ebs-countdown-amount {
				font-size: 22px;
				color: var(--primary);
				font-weight: 500;
				padding: 0 3px;
				position: relative;
				line-height: 18px;
				&::after {
					content: '';
					width: 1px;
					height: 18px;
					background: #8C8C8C;
					position: absolute;
					left: 0;
					top: 0;
				}

			}
			span {
				display: block;
			}
		}
	}
	.ebs-footer-table {
		padding: 0 15px 20px;
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
		.btn-table {
			display: block;
			background: var(--primary);
			color: #fff;
			width: 100%;
			text-transform: uppercase;
			border-radius: 5px;
			font-size: 30px;
			text-align: center;
			font-weight: 500;
			padding: 17px 10px;
			&:hover {
				background: var(--secondary);
			} 
		}
	}
}
