/* ==========================================================================
   Instagram start styles
   ========================================================================== */
.edgtf-instagram-feed {
    margin-left: -10px;
    margin-right: -10px;
	margin-bottom:0;
    list-style-type:none;
    margin-top:0;
    
    li{
        float: left;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0 !important;
        margin-bottom: 0;
        box-sizing: border-box;
        a {
            display: block;
            position: relative;
            overflow: hidden;
            &:after {
                content:'';
                position: absolute;
                top:0;
                left:0;
                height: 100%;
                width: 100%;
                background-color: rgba(0,0,0,.35);
                opacity: 0;
                @include edgtfTransition(opacity .2s ease);
            }
            &:hover:after,
            &:hover:before{
                opacity: 1;
                @include edgtfTransition(opacity .7s ease);
            }

            &:before{
                content: "\e09a";
                position: absolute;
                top: 50%;
                left: 50%;
                @include edgtfTransform(translate(-50%,-50%));
                font-family: ElegantIcons, serif;
                color: #fff;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                z-index: 30;
                opacity: 0;
                @include edgtfTransition(opacity .2s ease);
            }
        }
        
        img{
            display: block;
            @include edgtfBorderRadius(0);
        }
    }
}

.edgtf-instagram-feed.edgtf-col-9 li {
    width: 11.11111111111111%;
}
.edgtf-instagram-feed.edgtf-col-7 li {
    width: 14.285%;
}

.edgtf-instagram-feed.edgtf-col-6 li {
    width: 16.66666666666667%;
}

.edgtf-instagram-feed.edgtf-col-4 li {

}

.edgtf-instagram-feed.edgtf-col-3 li {
    width: 33.33%;
}

.edgtf-instagram-feed.edgtf-col-2 li {
    width: 50%;
}
/* ==========================================================================
   Instagram end styles
   ========================================================================== */