/* ==========================================================================
   Blockquote shortcode start styles
   ========================================================================== */
blockquote{
	position: relative;
	display: table;
	padding: 21px 0 21px 41px;
	border-left: 3px solid $first-main-color;

	.edgtf-blockquote-text {
		display: table-cell;
		vertical-align: middle;
		font-weight: 400;
		font-style: normal;
		font-family: $first-font;
		line-height: 35px;
		letter-spacing: 0;
		font-size: 22px;
	}
}

/* ==========================================================================
   Blockquote shortcode end styles
   ========================================================================== */