/* ==========================================================================
# Call to action responsive style - begin
========================================================================== */

.edgtf-call-to-action {

	@include laptop-landscape{
		.edgtf-call-to-action-cell{

			.edgtf-btn{
				padding: 15px 35px;
			}
		}
	}

	.edgtf-call-to-action-row-75-25 .edgtf-call-to-action-column1 {

		@media only screen and (min-width: $phone-landscape) and (max-width: $ipad-landscape) {
			width: 65%;
		}

	}

	.edgtf-call-to-action-row-75-25 .edgtf-call-to-action-column2 {

		@media only screen and (min-width: $phone-landscape) and (max-width: $ipad-landscape) {
			width: 35%;
		}

	}
	@include ipad-landscape{
		.edgtf-call-to-action-cell{

			.edgtf-call-to-action-text{
				line-height: 40px;
			}

			.edgtf-btn{
				padding: 15px 12px;
			}
		}
	}




	.edgtf-call-to-action-cell {

		@include ipad-portrait {
			display: block;
			text-align: center !important;
			width: 100% !important;

			.edgtf-call-to-action-text{
				text-align: center !important;
				margin-bottom: 30px;
			}
		}

	}

	.edgtf-text-wrapper .edgtf-call-to-action-icon-holder {

		@include phone-landscape {
			position: relative;
			width: 100%;
			text-align: center;
			padding-left: 0;
		}

	}

	.edgtf-text-wrapper .edgtf-call-to-action-icon {

		@include phone-landscape {
			display: inline-block;
		}

	}

	.edgtf-text-wrapper .edgtf-call-to-action-text {

		@include phone-landscape {
			text-align: center!important; //overriding text align shortcode option (inline-style)
			margin-bottom: 10px;
		}

	}

	&.with-icon .edgtf-text-wrapper .edgtf-call-to-action-text {

		@include phone-landscape {
			padding:0 20px;
		}

	}

}

.edgtf-call-to-action.with-icon {

	@include phone-landscape {
		padding: 0;
	}

}

/* ==========================================================================
# Call to action responsive style - end
========================================================================== */