/* ==========================================================================
   Google Map start style
   ========================================================================== */


.edgtf-google-map-holder{
	position: relative;
}

.edgtf-google-map {

	display: block;
	width: 100%;
	height: 300px;

	iframe,
	object,
	embed {

		width: 100%;
		display: block;

	}

	img {
		max-width: none;
	}
}

.edgtf-google-map-overlay {
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	display: none;
	top:0;
	left:0;
}

.edgtf-google-map-box{
	padding: 32px 110px 38px 41px;
	display: inline-block;
	position: absolute;
	top: 50%;
	z-index: 999;
	background-color: #fff;
	left:300px;
	@include edgtfTransform(translatey(-50%));
	@include edgtfBorderRadius(3px);

	.edge-title-separator{
		display: inline-block;
		margin-top:0;
		margin-bottom: 23px;
	}

	h2{
		margin-bottom: 15px;
	}

	.edgtf-google-map-address{
		width: 50%;
	}

	.edgtf-google-map-address,
	.edgtf-google-map-website,
	.edgtf-google-map-email,
	.edgtf-google-map-phone{
		h4{
			color:$default-text-color;
			margin-bottom: 28px;
		}

	}

}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */