/* ==========================================================================
   Google Map start style
   ========================================================================== */
@include laptop-mid-landscape{
	.edgtf-google-map-box{
		left: 80px;
		padding: 30px;
	}
}
.edgtf-google-map-overlay{
	@include ipad-landscape {
		display: block;
	}
}
@include ipad-landscape{
	.edgtf-google-map-box{
		display: none;
	}
}




/* ==========================================================================
   End of Google Map style
   ========================================================================== */