@import "./base/vars";
@import "./main";

.wrapper-box {
  background: $white;
  padding: 0;
  > .row {
    > .col-3 {
      padding-right: 0;
    }
  }
}
.left-signup {
	width: 100%;
	padding: 40px 48px;
  min-height: calc(100vh - 20px);
	.logos {
		margin-bottom: 15px;
	}
	.text-block {
    max-width: 390px;
	}

	.illustration {
		display: block;
		margin: 0 auto 50px;
	}

	h4 {
		font-weight: 700;
		font-size: 32px;
		color: $darktext;
		margin-bottom: 15px;
		line-height: 1;
	}

	p {
		font-size: 16px;
		color: $darktext;
	}

	ul {
		padding: 0;
		margin: 0 0 60px 0;
		list-style: none;

		li {
			margin-bottom: 20px;
			padding-left: 32px;
			font-size: 16px;
			color: $darktext;
			line-height: 20px;
			background: url(../img/ico-tick-alt.svg) no-repeat left 4px;
		}
	}
}
.right-section-blank {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: $lightheader;
  position: relative;
  padding: 60px;
  border-radius: 12px;
  .main-navigation {
    position: absolute;
    right: 60px;
    top: 35px;
    li {
      a {
        line-height: 16px;
        display: flex;
				color: $darktext;
				text-decoration: none;
				font-weight: 400;
        i {
          width: 20px;
					&.material-icons {
						width: auto;
						position: relative;
						font-size: 16px;
						top: 0px;
					}
        }
        img {
          max-width: 16px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
          position: relative;
          top: -2px;
        }
      }
			ul li a:hover {
				background: $borderhover;
				color: $white;
			}
    }
  }
}
.right-formarea {
  width: 100%;
  max-width: 570px;
  .custom-messages {
    margin-bottom: 15px;
  }
  .error-message {
    color: $darktext !important;
    font-size: 10px !important;
  }
  h2 {
    font-weight: 700;
    color: $darktext;
    font-size: 20px;
    margin: 0 0 25px 0;
  }
  p {
    font-size: 14px;
    color: $darktext;
    margin-bottom: 22px;
  }
}

.form-area-signup {
  .field-title {
    font-weight: 600;
    color: $darktext;
    font-size: 16px;
    margin-bottom: 12px;
  }
  .form-row-box {
    position: relative;
    margin-bottom: 20px;
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"] {
      width: 100%;
      height: 56px;
      border-radius: 12px;
      border: 1px solid $border;
      padding: 15px 15px;
      color: $text;
      font-size: 14px;
      &:focus,
      &.ieHack {
        border-color: $lightlink;
      }

      &.ieHack {
        color: $text;
      }
      &.ieHack,
      &:focus {
        padding-top: 15px;
        padding-left: 15px;
      }
      &.ieHack + label,
      &:focus + label {
        top: 13px;
        color: $black;
        font-size: 11px;
        background: transparent;
      }
    }

    &.has-error {
      margin-bottom: 8px;
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="password"] {
        border-color: $color-danger;
      }
    }
    label.title {
      margin: 0;
      display: inline-block;
      line-height: 20px;
      background: $white;
      padding: 0 4px;
      font-size: 14px;
      color: $text;
      position: absolute;
      left: 15px;
      top: 50%;
      margin-top: -10px;
      pointer-events: none;
      transition: all 0.1s linear;
    }
  }
  .icon-eye {
    position: absolute;
    right: 20px;
    top: 17px;
    cursor: pointer;
    z-index: 10;
  }
}
.ebs-login-others {
  margin-bottom: 20px;
  font-size: 14px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border;
  i.material-icons {
    color: $borderhover;
  }
  div {
    padding-left: 10px;
    a {
      color: $borderhover;
    }
  }
}
.login-others {
  padding-right: 12px;
  margin-bottom: 20px;
  label {
    cursor: pointer;
    float: left;
    line-height: 24px;
    font-size: 14px;
    color: $darktext;
    i {
      vertical-align: bottom;
      margin-right: 5px;
      color: $darkcolor;
      position: relative;
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 2px;
        z-index: 1;
        border-radius: 2px;
        // border: 2px solid $hover;

      }
      &.check_box {
        &::before {
          font-family: 'Material Icons';
          content: '\e5ca';
          background: $hover;
          color: $white;
          font-size: 14px;
          line-height: 16px;
          text-align: center;

        }
      }
    }
  }
  a {
    float: right;
    color: $borderhover;
    text-decoration: underline;
    font-weight: 600;
  }
}
.button-panel {
  text-align: center;
  margin-top: 10px;
  .btn {
    margin-bottom: 20px;
    border: none;
    font-weight: 600;
    background: $borderhover;
    height: 50px;
    width: 100%;
    font-size: 16px;
    border-radius: 12px;
    &:hover {
      background: $lightlink;
    }
    &.btn-bordered {
      background: transparent;
      border: 1px solid $border;
      color: $darktext;
      &:hover {
        background: $borderhover;
        color: $white;
      }
    }
  }
  p {
    a {
      font-weight: 600;
      color: $borderhover;
      text-decoration: underline;
    }
  }
}
.header {
  background: $white;
  border-bottom: 1px solid $border;
  padding: 30px 15px;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  .left-header {
    width: 295px;
  }
  .right-header {
    width: calc(100% - 295px);
    .ebs-header-panel {
      gap: 15px;
      align-items: center;
      .btn {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        padding: 0;
        background: $lightheader;
        font-size: 18px;
        position: relative;
        line-height: 47px;
        font-weight: 400;
        &.btn-icon {
          background: $color-warning;
          line-height: 49px;
          color: #F3842F;
        }
        .ebs-mark {
          position: absolute;
          right: 15px;
          top: 17px;
          width: 8px;
          height: 8px;
          background: $color-danger;
          border-radius: 100%;
          display: inline-block;
        }
        .material-symbols-outlined {
          font-size: 30px;
          vertical-align: middle;
          display: inline-block;
          color: $gray;
        }
      }
    }
  }
}

.label-select-alt {
  max-width: 100%;
  width: 180px;
  border-radius: 0;
  margin-right: 15px;
  margin-bottom: 0;
  .wrapper-select {
    margin-bottom: 0;
    border-radius: 0;
    border-color: $borderlight;
    color: $text;
    background: $white;
    border-radius: 0;
    font-size: 0;
    .label-wrapper-select {
      border-radius: 0;
      border-color: $borderlight;
      margin: 0;
      padding: 10px 30px 11px 12px;
      min-height: 44px;
      border-radius: 8px;
    }
    .css-2b097c-container,
    .css-b62m3t-container {
      padding: 2px 0;
      font-size: 14px;
    }
    &.isSelected {
      .btn-wrapper {
        color: $hover;
      }
      .btn-wrapper {
        padding-top: 0;
      }
      .label-text {
        display: none !important;
      }
      .label-wrapper-select {
        padding: 10px 30px 11px 12px;
      }
    }
    &.isOpen {
      .label-wrapper-select {
        border-color: $darkcolor;
      }
    }
    &.searchFalse {
      background: red !important;
      .css-2b097c-container,
      .css-b62m3t-container {
         .css-c8odyh-control {
           display: none !important;
         }
      }
    }
  }
}
.top-landing-page {
  background: $white;
  border-radius: 6px 6px 0 0;
  position: relative;
  border-bottom: 1px solid $border;
  z-index: 99;
  .ebs-title-section {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 15px;
    h4 {
      font-weight: 600;
      font-size: 22px;
      margin: 0;
    }
  }
  .row {
    margin: 0 -5px;
    div[class*="col-"] {
      padding: 0 5px;
      min-height: 88px;
    }
  }
  .logo {
    padding: 23px 20px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .dashboard-nav {
    margin-left: -11px;
    ul {
      padding: 0;
      margin: 0;
      li {
        text-align: center;
        display: inline-block !important;
        border-left: 1px solid $borderlight;
        vertical-align: top;
        max-width: 170px;
        &:last-child {
          border-right: 1px solid $borderlight;
        }
        &.active {
          a {
             color: $darkcolor;
             span.icons {
              svg {
                path,
                line {
                  fill: $darkcolor;
                  stroke: $white;
                }
               .gray {
                  stroke: #a6aaaf;
                }

              }
            }
          }
        }
        a {
          display: block;
          padding: 8px 12px 10px;
          min-width: 120px;
          text-decoration: none;
          font-size: 14px;
          text-transform: uppercase;
          color: #a3a3a3;
          font-weight: 600;
          cursor: pointer;
          &:hover {
           color: $darkcolor;
            span.icons {
              svg {
                path,
                line {
                  fill: $darkcolor;
                  stroke: $white;
                }
               .gray {
                  stroke: #a6aaaf;
                }

              }
            }
          }
          &.active {
            color: $darkcolor;
            span.icons {
              svg {
                path,
                line {
                  fill: $darkcolor;
                  stroke: $white;
                }
               .gray {
                  stroke: #a6aaaf;
                }

              }
            }
          }
          span.icons {
            font-size: 23px;
            display: block;
            width: 100%;
            margin-bottom: 4px;
            line-height: 48px;
            svg {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .right-top-header {
    padding: 14px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    .ebs-event-count {
      padding-left: 10px;
      font-size: 12px;
    }
    .search-field {
      margin-right: 15px;
      width: 214px;
      height: 44px;
      border: 1px solid $borderlight;
      padding: 10px 20px 10px 40px;
      background: url(../img/ico-search.png) no-repeat 15px center;
      border-radius: 2px;
      &:focus {
        border-color: $darkcolor;
      }
    }

  }
  .btn {
    padding: 10px 20px;
    padding-left: 15px;
    font-size: 14px;
    border-radius: 8px;
    background: $borderhover;
    display: flex;
    align-items: center;
    text-transform: none;
    &:hover {
      background: $darkcolor;
    }
    i {
      margin-right: 0px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -2px; 
      font-size: 22px;
      img {
        vertical-align: middle;
        margin-top: -6px;
      }
    }
    &.btn-send-order {
      margin-left: 10px;
      background: $lightheader;
      color: $darktext;
      i {
        transform: rotate(-30deg);
        position: relative;
        top: -5px;
      }
    }
  }
}
.main-data-table {
  background: $lightheader;
  min-height: 350px;
  border-radius: 0 0 6px 6px;
  padding: 15px;
  position: relative;
}

.wrapper-select {
  position: relative;
  margin-bottom: 10px;
  color: $gray;
  max-height: 52px;
  .dropdown-clearall {
    padding: 2px 8px;
    position: absolute;
    right: 42px;
    top: 50%;
    border-right: 1px solid $border;
    transform: translateY(-50%);
    opacity: 0.5;
    &:hover {
      opacity: 0.7;
    }
  }
  .label-wrapper-select {
    width: 100%;
    padding: 14px 30px 13px 12px;
    border: 1px solid $border;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 0;
    background: $white;
    min-height: 50px;
  }
  .icon-right {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: $border;
  }
  .btn-wrapper {
    background: $white;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    color: $gray;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .css-yk16xz-control {
    box-shadow: none !important;
    border: none !important;
    border-color: transparent !important;
    &:hover {
      box-shadow: none !important;
      border: none !important;
    }
  }
  .css-2b097c-container,
  .css-b62m3t-container {
    position: absolute;
    width: 100%;
    min-width: 120px;
    left: 0;
    top: 100%;
    margin-top: 5px;
    z-index: 999;
    padding: 0;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba($black, 0.3);
    .css-26l3qy-menu {
      position: static;
      margin: 0;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      font-size: 13px;
      .css-9gakcf-option {
        background-color: $lightbackground !important;
        color: $text !important;
        &:hover {
          background-color: $lightbackground !important;
          color: $text;
        }
      }
      div[id*="react-select-3-option"] {
        font-size: 13px;
        &:hover {
          background-color: $lightbackground !important;
        }
      }
      .css-1n7v3ny-option {
        background-color: $lightbackground !important;
        color: $text;
      }
    }
    > span {
      display: none !important;
      input {
        border: none !important;
        box-shadow: none !important;
      }
    }
  }

  .css-1okebmr-indicatorSeparator,
  .css-tlfecz-indicatorContainer,
  .css-1hb7zxy-IndicatorsContainer {
    margin-right: 10px;
  }
  .label-text {
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -14px;
    pointer-events: none;
    font-size: 14px;
    transition: all 0.2s linear;
    opacity: 0;
  }
  &.no-label {
     .btn-wrapper {
       color: $black;
     }
  }
  &.isSelected:not(.no-label) {
    .label-text {
      top: 20px;
      font-size: 12px;
      opacity: 1;
    }
    .label-wrapper-select {
      padding-bottom: 5px;
    }
    .btn-wrapper {
      padding-top: 8px;
      color: $black;
    }
  }
  &.isOpen {
    .label-wrapper-select {
      border-color: $darkcolor;
    }
  }
  &.isDisabled  {
      .label-wrapper-select {
      border-color: $border;
      .icon-right {
        color: $darkcolor;
        font-size: 15px;
      }
    }
  }
  &.searchFalse {
    .css-2b097c-container,
    .css-b62m3t-container {
        .css-c8odyh-control {
          display: none !important;
        }
    }
  }
  &.select-multi {
    z-index: 99;
    width: 100%;
    &.isDisabled {
      pointer-events: none;
    }
    .css-2b097c-container,
    .css-b62m3t-container {
      position: static;
      box-shadow: none;
      border: 1px solid $border;
      margin-top: 0;
    }
  .css-c8odyh-control,
  .css-1l3nnzh-control,
  .css-1gxfbx6-control {
    flex-direction: row;
    height: 48px;
    border: none !important;
  }
  .css-1okebmr-indicatorSeparator,
  .css-tlfecz-indicatorContainer,
  .css-1hb7zxy-IndicatorsContainer {
    margin-right: 10px;
  }
  .css-26l3qy-menu {
    border-top: 1px solid $border !important;
  }
  }
}
.css-c8odyh-control,
.css-1l3nnzh-control {
  flex-direction: row-reverse;
  border-bottom: 1px solid $borderlight !important;
  border-radius: 5px 5px 0 0 !important;
  padding-left: 8px;
}
.blanket-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: transparent;
  width: 100%;
  height: 100%;
}
.ebs-data-table {
  .ebs-table-header {
    strong {
      font-weight: 600;
      color: $darktext;
      font-size: 14px;
      display: flex;
      align-items: center;
      i {
        font-size: 18px;
      }
    }
  }
  .ebs-table-content {
    cursor: pointer;
    background: $white;
    border-radius: 0px;
    color: $text;
    font-size: 12px;
    font-weight: 400;
    border-top: 1px solid $lightgray;
    &:hover {
      background: rgba($lightheader, 0.3);
    }
    p {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .ebs-table-box {
    padding: 16px 12px;
    &.ebs-box-1 {
      width: 100%;
    }
    &.ebs-box-2 {
      min-width: 250px;
    }
    &.ebs-box-3 {
      min-width: 150px;
    }
    &.ebs-box-4 {
      min-width: 320px;
    }
    &.ebs-box-5 {
      min-width: 115px;
    }
  }
  &.ebs-order-table {
    border: 1px solid $lightgray;
    border-radius: 8px;
 
    .ebs-table-content {
      .ebs-table-box {
        padding: 10px 12px;
      }
    }
  }
}

.ebs-order-list-section {
  .ebs-order-header {
    margin-bottom: 15px;
    h4 {
      font-size: 20px;
      color: $darktext;
      margin-bottom: 15px;
      font-weight: 700;
    }
  }
  .btn-full-screen {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0 15px 0 0;
    img {
      transition: all 0.2s linear 0.3s;
    }
    &:hover {
      img {
        transform: scale(1.5);
      }
    }
  }

}

.ebs-search-area {
  margin-right: 15px;
  border-radius: 8px;
  width: 320px;
  height: 44px;
  border: 1px solid $borderlight;
  color: $gray;
  padding: 10px 20px 10px 40px;
  background: url(../img/ico-search.png) no-repeat 15px center;
  &:focus {
    border-color: $darkcolor;
  }
}
.ebs-dropdown-area {
  position: relative;
  .btn-select {
    padding: 0 5px 0 10px;
    height: 28px;
    border: 1px solid $border;
    background: none;
    border-radius: 3px;
    color: $gray ;
    font-size: 13px;
    margin-right: 0;
    &:focus,
    &:active {
      box-shadow: none;
    }
    i {
      line-height: 18px;
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      position: relative;
      top: -2px;
    }
    
  }
  .ebs-btn-dropdown {
    i,img {
      pointer-events: none;
    }
  }
  .ebs-btn-dropdown.ebs-active {
    + .ebs-dropdown-menu  {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  .ebs-dropdown-menu {
    position: absolute;
    right: 0;
    background: $white;
    top: 100%;
    border-radius: 3px;
    overflow: hidden;
    border: none;
    box-shadow: 0 2px 4px rgba($black, 0.35);
    min-width: 110px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    z-index: 99;
    transition: all 0.2s linear;
    margin-top: 10px;
    .dropdown-item {
      padding: 8px 12px;
      border-radius: 0;
      color: $darktext;
      font-weight: 400;
      font-size: 12px;
      background: transparent;
      width: 100%;
      height: auto;
      margin: 0;
      text-align: left;
      outline: none;
      cursor: pointer;
      i {
        margin-right: 8px;
        font-size: 18px;
      }
      &:hover {
        background: $lightheader;
      }
    }
  }
}
.ebs-panel-list {
  list-style: none;
  gap: 5px;
  .ebs-btn-panel {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 0;
    line-height: 0;
    padding: 0;
    color: #bbb;
    i {
      font-size: 18px;
    }
    &:hover,&.ebs-button-more {
      background: $lightheader;
      color: $gray;
    }
    &.ebs-active {
      background: $borderhover;
      color: $white;
    }
  }
}
.ebs-verification-code {
  padding-bottom: 20px;
  p {
    margin-bottom: 8px;
    strong {
      font-weight: 600;
    }
  }
}
.ebs-verification-code-fields {
  justify-content: center;
  padding-bottom: 30px;
  gap: 20px;
  input {
    width: 58px;
    height: 58px;
    border-radius: 12px;
    border: 1px solid $border;
    background: $white;
    text-align: center;
    font-weight: 600;
    color: $darktext;
  }
}
.ebs-count-down {
  padding-bottom: 30px;
  .ebs-timer {
    font-weight: 600;
    color: $borderhover;
    padding-bottom: 5px;
  }
  .btn-resend{
    display: inline-block;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
}
.ebs-main-section {
  position: relative;
  z-index: 1;
  padding: 15px;
  &.ebs-main-section-template {
    .ebs-left-content {
      width: 295px;
    }
    .ebs-right-content {
      width: calc(100% - 295px);
    }
  }
}
.ebs-sidemenu {
  background: $white;
  border-radius: 12px;
  padding: 12px;
  min-height: 100%;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
   > li {
    margin-bottom: 4px;
    >  a {
        color: $darktext;
        display: flex;
        gap: 5px;
        align-items: center;
        text-decoration: none;
        padding: 10px 13px;
        border-radius: 8px;
        i {
          font-size: 24px;
        }
        &:hover,&.active {
          background-color: $borderhover;
          color: $white;
        }
      }
    }
  }
}
.ebs-create-order-sec {
  padding: 15px;
  background-color: $white;
  .ebs-create-order-form {
    padding: 10px 0;
    border-bottom: 1px solid $borderlight;
    .row {
      margin-bottom: 20px;
    }
    .col-label-field {
      min-width: 300px;
      width: 300px;
      padding: 0 10px;
      .ebs-label {
        font-weight: 600;
        font-size: 16px;
        font-weight: 600;
      }
    }
    .col-input-field {
      padding: 0 10px;
      width: calc(100% - 300px);
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="password"] {
        width: 100%;
        height: 56px;
        border-radius: 12px;
        border: 1px solid $border;
        padding: 15px 15px;
        color: $darktext;
        font-size: 14px;
      }
    }
  }
}
.ebs-button-panel {
  display: flex;
  gap: 15px;
  padding-top: 20px;
  justify-content: flex-end;
  .btn-cancel {
    background: transparent;
    border: 1px solid $border;
    color: $darktext;
  }
}
.ebs-avatar-name {
  span {
    padding-left: 15px;
  }
}
.ebs-status {
  padding: 8px;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  width: auto;
  float: left;
  gap: 5px;
  i {
    font-size: 16px;
  }
  &.ebs-status-success {
    background: rgba($color-success, 0.1);
    color: $color-success;
  }
  &.ebs-status-warning {
    background: rgba($color-warning, 0.1);
    color: $color-warning;
  }
  &.ebs-status-inactive {
    background: $lightheader;
    color: $gray;
  }
}