@import "./base/vars";
@import "./main";

// loader styles start
#loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($white, 0.8);
    .wrapper_laoder {
      position: absolute;
      width: 565px;
      height: 110px;
      left: 50%;
      transform: translateX(-50%);
      top: 20%;
      text-align: center;
      h2 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 5px;
        color: $darkcolor;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        color: $darkcolor;
      }
    }
  }
  &.popup-fixed {
    position: fixed;
    background: rgba($white, 0.8);
  }
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: -30px 0 0 -45px;
  border: 2px solid transparent;
  border-top-color: #3498db;

  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #e74c3c;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #f9c922;

  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
// loader styles, end


.wrapper-box {
  background: $white;
  border-radius: 20px;
  padding: 0;
  margin-bottom: 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  > .row {
    > .col-3 {
      padding-right: 0;
    }
  }
}
.left-signup {
	width: 100%;
	padding: 40px 48px;
	.logos {
		margin-bottom: 30px;
		max-width: 420px;
		margin-left: 20px;
	}
	.text-block {
		padding-left: 25px;
	}

	.illustration {
		display: block;
		margin: 0 auto 50px;
	}

	h4 {
		font-weight: 700;
		font-size: 24px;
		color: $borderhover;
		margin-bottom: 10px;
		line-height: 1;
	}

	p {
		font-size: 14px;
		color: $text;
		margin-bottom: 25px;
	}

	ul {
		padding: 0;
		margin: 0 0 60px 0;
		list-style: none;

		li {
			margin-bottom: 20px;
			padding-left: 32px;
			font-size: 16px;
			color: $darktext;
			line-height: 20px;
			background: url(../img/ico-tick-alt.svg) no-repeat left 4px;
		}
	}
}
.right-section-blank {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: $lightheader;
  position: relative;
  padding: 60px;
  .main-navigation {
    position: absolute;
    right: 60px;
    top: 35px;
    margin-bottom: 0;
    li {
      a {
        line-height: 16px;
        display: flex;
				color: $darktext;
				text-decoration: none;
				font-weight: 400;
        i {
          width: 20px;
					&.material-icons {
						width: auto;
						position: relative;
						font-size: 16px;
						top: 0px;
					}
        }
        img {
          max-width: 16px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
          position: relative;
          top: -2px;
        }
      }
			ul li a:hover {
				background: $darkcolor;
				color: $white;
			}
    }
  }
}
.right-formarea {
  width: 100%;
  .custom-messages {
    margin-bottom: 15px;
  }
  .error-message {
    color: $darktext !important;
    font-size: 10px !important;
  }
  h2 {
    font-weight: 700;
    color: $darktext;
    font-size: 25px;
    margin: 0 0 15px 0;
  }
  p {
    font-size: 14px;
    color: $darktext;
    margin-bottom: 22px;
  }
}

.form-area-signup {
  .form-row-box {
    position: relative;
    margin-bottom: 20px;
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"] {
      width: 100%;
      height: 50px;
      border-radius: 5px;
      border: 1px solid $white;
      padding: 10px 15px;
      color: $text;
      font-size: 14px;
      &:focus,
      &.ieHack {
        border-color: $lightlink;
      }

      &.ieHack {
        color: $text;
      }
      &.ieHack,
      &:focus {
        padding-top: 21px;
        padding-left: 20px;
      }
      &.ieHack + label,
      &:focus + label {
        top: 13px;
        color: $black;
        font-size: 11px;
        background: transparent;
      }
    }

    &.has-error {
      margin-bottom: 8px;
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="password"] {
        border-color: $color-danger;
      }
    }
    label.title {
      margin: 0;
      display: inline-block;
      line-height: 20px;
      background: $white;
      padding: 0 4px;
      font-size: 14px;
      color: $text;
      position: absolute;
      left: 15px;
      top: 50%;
      margin-top: -10px;
      pointer-events: none;
      transition: all 0.1s linear;
    }
  }
  .icon-eye {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
    z-index: 10;
  }
}
.login-others {
  padding-right: 12px;
  margin-bottom: 20px;
  label {
    cursor: pointer;
    float: left;
    line-height: 24px;
    font-size: 14px;
    color: $darktext;
    i {
      vertical-align: bottom;
      margin-right: 5px;
      color: $darkcolor;
      position: relative;
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 2px;
        z-index: 1;
        border-radius: 2px;
        // border: 2px solid $hover;

      }
      &.check_box {
        &::before {
          font-family: 'Material Icons';
          content: '\e5ca';
          background: $hover;
          color: $white;
          font-size: 14px;
          line-height: 16px;
          text-align: center;

        }
      }
    }
  }
  a {
    float: right;
    color: $darktext;
    text-decoration: none;
  }
}
.button-panel {
  text-align: center;
  margin-top: 10px;
  .btn {
    margin-bottom: 20px;
    border: none;
    font-weight: 600;
    background: $borderhover;
    height: 50px;
    min-width: 204px;
    text-transform: uppercase;
    &:hover {
      background: $lightlink;
    }
  }
}
.bottom-header-elements {
  margin-top: 30px;
  min-height: 70px;
  margin-bottom: 5px;
  align-items: flex-end;
  color: $darktext;
  h4 {
    color: $darktext;
    margin: 0px;
    line-height: 22px;
    font-size: 22px;
  }
  h6 {
    color: $darktext;
    margin: 0px;
    margin-top: 5px;
  }
  a {
    color: $darktext;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
  }
  

}
.label-select-alt {
  max-width: 100%;
  width: 180px;
  border-radius: 0;
  margin-right: 15px;
  margin-bottom: 0;
  .wrapper-select {
    margin-bottom: 0;
    border-radius: 0;
    border-color: $borderlight;
    color: $text;
    background: $white;
    border-radius: 0;
    font-size: 0;
    .label-wrapper-select {
      border-radius: 0;
      border-color: $borderlight;
      margin: 0;
      padding: 10px 30px 11px 12px;
      min-height: 44px;
      border-radius: 2px;
    }
    .css-2b097c-container,
    .css-b62m3t-container {
      padding: 2px 0;
      font-size: 14px;
    }
    &.isSelected {
      .btn-wrapper {
        color: $hover;
      }
      .btn-wrapper {
        padding-top: 0;
      }
      .label-text {
        display: none !important;
      }
      .label-wrapper-select {
        padding: 10px 30px 11px 12px;
      }
    }
    &.isOpen {
      .label-wrapper-select {
        border-color: $darkcolor;
      }
    }
    &.searchFalse {
      background: red !important;
      .css-2b097c-container,
      .css-b62m3t-container {
         .css-c8odyh-control {
           display: none !important;
         }
      }
    }
  }
}
.top-landing-page {
  background: $white;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0px 3px rgba($gray, 0.16);
  position: relative;
  z-index: 99;
  .row {
    margin: 0 -5px;
    div[class*="col-"] {
      padding: 0 5px;
      min-height: 88px;
    }
  }
  .logo {
    padding: 23px 20px;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      height: auto;
    }
  }
  .dashboard-nav {
    margin-left: -11px;
    ul {
      padding: 0;
      margin: 0;
      li {
        text-align: center;
        display: inline-block !important;
        border-left: 1px solid $borderlight;
        vertical-align: top;
        max-width: 170px;
        &:last-child {
          border-right: 1px solid $borderlight;
        }
        &.active {
          a {
             color: $darkcolor;
             span.icons {
              svg {
                path,
                line {
                  fill: $darkcolor;
                  stroke: $white;
                }
               .gray {
                  stroke: #a6aaaf;
                }

              }
            }
          }
        }
        a {
          display: block;
          padding: 8px 12px 10px;
          min-width: 120px;
          text-decoration: none;
          font-size: 14px;
          text-transform: uppercase;
          color: #a3a3a3;
          font-weight: 600;
          cursor: pointer;
          &:hover {
           color: $darkcolor;
            span.icons {
              svg {
                path,
                line {
                  fill: $darkcolor;
                  stroke: $white;
                }
               .gray {
                  stroke: #a6aaaf;
                }

              }
            }
          }
          &.active {
            color: $darkcolor;
            span.icons {
              svg {
                path,
                line {
                  fill: $darkcolor;
                  stroke: $white;
                }
               .gray {
                  stroke: #a6aaaf;
                }

              }
            }
          }
          span.icons {
            font-size: 23px;
            display: block;
            width: 100%;
            margin-bottom: 4px;
            line-height: 48px;
            svg {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .right-top-header {
    padding: 22px 25px;
    padding-right: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    .search-field {
      margin-right: 15px;
      width: 214px;
      height: 44px;
      border: 1px solid $borderlight;
      padding: 10px 20px 10px 40px;
      background: url(../img/ico-search.png) no-repeat 15px center;
      border-radius: 2px;
      &:focus {
        border-color: $darkcolor;
      }
    }

  }
  .btn {
    padding: 10px 20px;
    padding-left: 15px;
    font-size: 14px;
    background: $borderhover;
    text-transform: uppercase;
    &:hover {
      background: $darkcolor;
    }
    i {
      margin-right: 0px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -2px; 
      font-size: 22px;
      img {
        vertical-align: middle;
        margin-top: -6px;
      }
    }
    &.btn-send-order {
      margin-left: 10px;
      background: $lightheader;
      color: $darktext;
      i {
        transform: rotate(-30deg);
        position: relative;
        top: -5px;
      }
    }
  }
}
.main-data-table {
  background: $lightheader;
  min-height: 450px;
  border-radius: 0 0 6px 6px;
  padding: 15px;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.ebs-invoice-wrapper {
  .invoice-box  {
    width: 100%;
    max-width: 100%;
  }
}
.wrapper-select {
  position: relative;
  margin-bottom: 10px;
  color: $gray;
  max-height: 52px;
  .dropdown-clearall {
    padding: 2px 8px;
    position: absolute;
    right: 42px;
    top: 50%;
    border-right: 1px solid $border;
    transform: translateY(-50%);
    opacity: 0.5;
    &:hover {
      opacity: 0.7;
    }
  }
  .label-wrapper-select {
    width: 100%;
    padding: 14px 30px 13px 12px;
    border: 1px solid $border;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0;
    background: $white;
    min-height: 50px;
  }
  .icon-right {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: $border;
  }
  .btn-wrapper {
    background: $white;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    color: $gray;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .css-yk16xz-control {
    box-shadow: none !important;
    border: none !important;
    border-color: transparent !important;
    &:hover {
      box-shadow: none !important;
      border: none !important;
    }
  }
  .css-2b097c-container,
  .css-b62m3t-container {
    position: absolute;
    width: 100%;
    min-width: 120px;
    left: 0;
    top: 100%;
    margin-top: 5px;
    z-index: 999;
    padding: 0;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba($black, 0.3);
    .css-26l3qy-menu {
      position: static;
      margin: 0;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      font-size: 13px;
      .css-9gakcf-option {
        background-color: $lightbackground !important;
        color: $text !important;
        &:hover {
          background-color: $lightbackground !important;
          color: $text;
        }
      }
      div[id*="react-select-3-option"] {
        font-size: 13px;
        &:hover {
          background-color: $lightbackground !important;
        }
      }
      .css-1n7v3ny-option {
        background-color: $lightbackground !important;
        color: $text;
      }
    }
    > span {
      display: none !important;
      input {
        border: none !important;
        box-shadow: none !important;
      }
    }
  }

  .css-1okebmr-indicatorSeparator,
  .css-tlfecz-indicatorContainer,
  .css-1hb7zxy-IndicatorsContainer {
    margin-right: 10px;
  }
  .label-text {
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -14px;
    pointer-events: none;
    font-size: 14px;
    transition: all 0.2s linear;
    opacity: 0;
  }
  &.no-label {
     .btn-wrapper {
       color: $black;
     }
  }
  &.isSelected:not(.no-label) {
    .label-text {
      top: 20px;
      font-size: 12px;
      opacity: 1;
    }
    .label-wrapper-select {
      padding-bottom: 5px;
    }
    .btn-wrapper {
      padding-top: 0px;
      color: $black;
    }
  }
  &.isOpen {
    .label-wrapper-select {
      border-color: $darkcolor;
    }
  }
  &.isDisabled  {
      .label-wrapper-select {
      border-color: $border;
      .icon-right {
        color: $darkcolor;
        font-size: 15px;
      }
    }
  }
  &.searchFalse {
    .css-2b097c-container,
    .css-b62m3t-container {
        .css-c8odyh-control {
          display: none !important;
        }
    }
  }
  &.select-multi {
    z-index: 99;
    width: 100%;
    &.isDisabled {
      pointer-events: none;
    }
    .css-2b097c-container,
    .css-b62m3t-container {
      position: static;
      box-shadow: none;
      border: 1px solid $border;
      margin-top: 0;
    }
  .css-c8odyh-control,
  .css-1l3nnzh-control,
  .css-1gxfbx6-control {
    flex-direction: row;
    height: 48px;
    border: none !important;
  }
  .css-1okebmr-indicatorSeparator,
  .css-tlfecz-indicatorContainer,
  .css-1hb7zxy-IndicatorsContainer {
    margin-right: 10px;
  }
  .css-26l3qy-menu {
    border-top: 1px solid $border !important;
  }
  }
}
.css-c8odyh-control,
.css-1l3nnzh-control {
  flex-direction: row-reverse;
  border-bottom: 1px solid $borderlight !important;
  border-radius: 5px 5px 0 0 !important;
  padding-left: 8px;
}
.blanket-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: transparent;
  width: 100%;
  height: 100%;
}
.ebs-data-table {
  .ebs-table-header {
    strong {
      font-weight: 600;
      color: $darktext;
      font-size: 12px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      em {
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
  .ebs-table-content {
    cursor: pointer;
    background: $white;
    border-radius: 4px;
    margin-bottom: 5px;
    color: $text;
    font-size: 12px;
    font-weight: 400;
    &:hover {
      background: rgba($lightheader, 0.3);
    }
    p {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .ebs-table-box {
    padding: 13px 12px;
    &.ebs-box-1 {
      width: 120px;
      img {
        height: auto;
      }
    }
    &.ebs-box-2 {
      width: 190px;
    }
    &.ebs-box-3 {
      width: 150px;
    }
    &.ebs-box-4 {
      width: 125px;
    }
    &.ebs-box-5 {
      width: 115px;
    }
  }
  &.ebs-order-table {
    .ebs-table-header {
      border-bottom: 1px solid $darkcolor;
      margin-bottom: 10px;
    }
    .ebs-table-content {
      .ebs-table-box {
        padding: 10px 12px;
      }
    }
  }
}

.ebs-ticket-section {
  padding-top: 15px;
  margin-bottom: 30px;
  .ebs-ticket-section-inner {
    padding: 15px 30px;
    border-radius: 4px;
    background: $lightheader;
    display: inline-block;
    .ebs-ticket-box {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      padding-left: 30px;
      margin-left: 30px;
      position: relative;
      .btn {
        width: 44px;
        height: 44px;
        border-radius: 4px;
        padding: 0;
        color: $darktext;
        background: $borderlight;
        box-shadow: none;
        margin-top: 8px;
        em {
          transform: rotate(-45deg);
          margin-top: 2px;
        }
      }
      &::before {
        content: '';
        width: 1px;
        height: 80%;
        position: absolute;
        left: 0;
        top: 50%;
        background: $borderlight;
        transform: translateY(-50%);
      }
      &:first-of-type {
        padding-left: 0;
        margin: 0;
        &::before {
          display: none;
        }
      }
      strong {
        display: block;
        font-size: 26px;
        font-weight: 700;
        color: $darkcolor;
        margin-bottom: 5px;
      }
      span {
        display: block;
        font-size: 12px;
        font-weight: 700;
        color: $darktext;
        text-transform: uppercase;
      }
    }
  }
}

.ebs-order-list-section {
  min-height: 380px;
  .ebs-order-header {
    margin-bottom: 15px;
    h4 {
      font-size: 20px;
      color: $darktext;
      margin-bottom: 15px;
      font-weight: 700;
    }
  }
  .btn-full-screen {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0 15px 0 0;
    img {
      transition: all 0.2s linear 0.3s;
    }
    &:hover {
      img {
        transform: scale(1.5);
      }
    }
  }

}

.ebs-search-area {
  margin-right: 15px;
  width: 214px;
  height: 44px;
  border: 1px solid $borderlight;
  color: $gray;
  padding: 10px 20px 10px 40px;
  background: url(../img/ico-search.png) no-repeat 15px center;
  border-radius: 2px;
  &:focus {
    border-color: $darkcolor;
  }
}
.ebs-dropdown-area {
  position: relative;
  .btn-select {
    padding: 3px 5px 0 10px;
    height: 30px;
    border: 1px solid $darkcolor;
    background: $white;
    border-radius: 4px;
    color: $borderhover ;
    font-size: 12px;
    margin-right: 0;
    font-weight: 500;
    &:focus,
    &:active {
      box-shadow: none;
    }
    i {
      line-height: 18px;
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      position: relative;
      top: -2px;
    }
    
  }
  .ebs-btn-dropdown {
    i,img {
      pointer-events: none;
    }
  }
  .ebs-btn-dropdown.ebs-active {
    + .ebs-dropdown-menu  {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  .ebs-dropdown-menu {
    position: absolute;
    right: 0;
    background: $white;
    top: 100%;
    border-radius: 3px;
    overflow: hidden;
    border: none;
    box-shadow: 0 2px 4px rgba($black, 0.35);
    min-width: 110px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    z-index: 99;
    transition: all 0.2s linear;
    margin-top: 10px;
    .dropdown-item {
      padding: 8px 12px;
      border-radius: 0;
      color: $darktext;
      font-weight: 400;
      font-size: 12px;
      background: transparent;
      width: 100%;
      height: auto;
      margin: 0;
      text-align: left;
      outline: none;
      cursor: pointer;
      i {
        margin-right: 8px;
        font-size: 18px;
      }
      &:hover {
        background: $darkcolor;
        color: $white;
      }
    }
  }
}
.ebs-panel-list {
  list-style: none;
  gap: 5px;
  .ebs-btn-panel {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 0;
    line-height: 0;
    padding: 0;
    color: $gray;
    i {
      font-size: 18px;
    }
    &:hover {
      background: $lightheader;
    }
    &.ebs-active {
      background: $borderhover;
      color: $white;
    }
  }
}

.widget-loader-wrapper {
    display: flex;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}
.widget-loader {
  border: 16px solid #dfdede; /* Light grey */
  border-top: 16px solid #f9c922; /* Blue */
  border-radius: 50%;
  width: 121px;
  height: 120px;
  animation: widgetLoaderSpin 2s linear infinite;
}

.small-loader-wrapper {
    display: flex;
    // min-height: 300px;
    justify-content: center;
    align-items: center;
}
.small-loader {
  border: 2px solid #dfdede; /* Light grey */
  border-top: 2px solid rgb(126, 126, 126); /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: widgetLoaderSpin 2s linear infinite;
}

@keyframes widgetLoaderSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main-landing-page{
  min-height: 450px;
}

.ebs-bottom-header-left {
  margin-left: 0;
  p {
    margin-bottom: 0;
    a {
      font-weight: 600;
      font-size: 12px;
      display: flex;
      align-items: center;
      i {
        font-size: 18px;
        margin-top: 1px;
        margin-right: 5px;
        color: $darktext;
      }
    }
  }
  h3 {
    margin-bottom: 8px;
    a {
      font-size: 22px;
      color: $borderhover;
      font-weight: 700;
      text-decoration: none;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    li {
      display: flex;
      align-items: center;
      font-size: 12px;
      gap: 4px;
      i {
        font-size: 18px;
        color: $darkcolor;
      }
    }
  }
}
.ebs-pagination {
  margin: 0;
  padding-right: 5px;
  li {
    margin: 0 4px !important;
    button {
      min-width: 30px;
      min-height: 30px;
      border-radius: 4px;
      background: $white;
      border: 1px solid $darkcolor;
      padding: 4px;
      text-align: center;
      font-size: 12px;
      color: $borderhover;
      .material-symbols-outlined {
        vertical-align: top;
        line-height: 18px;
      }
      &.ebs-prev-next {
        background-color: $border;
        border-color: $border;
      }

    }
    &.active,&:hover {
      button {
        color: $white;
        background: $darkcolor;
        border-color: $darkcolor;
      }
    }
    &.disabled {
      button {
        &.ebs-prev-next {
          cursor: not-allowed;
        }
      }
    }
  }
}

.ebs-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 99;
  background: rgba($black, 0.3);
  .modal {
    position: static;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    overflow: hidden;
    .modal-dialog {
      width: 100%;
      max-width: 640px;
      .modal-body {
        padding: 30px;
        h3 {
          color: $borderhover;
          margin-bottom: 12px;
          font-size: 20px;
          .material-symbols-outlined {
            cursor: pointer;
          }
        }
        p {
          margin: 0;
          color: $text;
        }
      }
      .modal-footer {
        .btn {
          margin-top: 0;
          margin-bottom: 0;
          background: $darktext;
          border-color: $darktext;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
          border-radius: 4px;
          box-shadow: none;
          &.btn-secondary {
            background: $darkcolor;
            border-color: $darkcolor;
          }
        }
      }
      &.ebs-modal-tickets {
        max-width: 770px;
        max-height: 100%;
        margin: 0;
        .modal-content {
          max-height: 100%;
        }
        .modal-body {
          padding: 25px;
          max-height: 100%;
        }
      }
    }
  }
}
.ebs-grid-ticket-wrapper {
  padding-top: 25px;
  .ebs-grid-ticket-row {
    padding-top: 20px;
    .ebs-box-1,.ebs-box-2 {
      width: 24%;
      padding: 0 10px;
      font-size: 12px;
      p {
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .ebs-box-2 {
      width: 19%;
    }

  }
  .ebs-grid-ticket-header {
    padding-bottom: 10px;
    padding-top: 0;
    border-bottom: 1px solid $darkcolor;
    strong {
      text-transform: uppercase;
      color: $darktext;
      font-size: 12px;
      em {
        font-size: 16px;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
}
.ebs-grid-ticket-scroll {
  max-height: 450px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: $border #F2F2F2;
  scrollbar-gutter: stable;
}
#ebs-master-wrapper-iframe {
  position: relative;
  .ebs-button-expand {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9;
  }
  &.ebs-expanded-iframe {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    line-height: 0;
  }
}

.ebs-date-wrapper {
  .ebs-top-caption {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    label {
      width: 50%;
      height: 40px;
      margin-bottom: 0;
      input[type="radio"] {
        display: none;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid $border;
        cursor: pointer;
      }
    }
  }
}

.DayPickerInput {
  width: 100%;
  .label-input {
    input {
      background: url(../img/ico-calendar.svg) no-repeat right 15px center;
    }
    &.ebs-time-icon {
      input {
        background: url(../img/ico-clock.svg) no-repeat right 15px center;
        background-size: 18px 18px;
      }
    }
  }
}
.rdtPicker .rdtTimeToggle {
  background: $color-danger;
  color: $white;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  display: none;
}

.rdtPicker td.rdtSwitch {
  cursor: pointer;
  display: none;
}

.ebs-date-wrapper .ebs-top-caption label span {
  &:hover {
    color: #86A4AE;
    border-bottom-color: #86A4AE;
  }
}
.ebs-date-wrapper .ebs-top-caption label input:checked ~ span {
  color: #86A4AE;
  border-bottom-color: #86A4AE;
}