.edgtf-content-bottom {
	.edgtf-container {
		background-color: transparent;
	}

	.edgtf-instagram-feed{

		li{

			a{

				&:before{
					opacity: 1;
					top: 10px;
					left: auto;
					transform: none;
					right: 10px;
				}

			}
		}

		&:last-child{

			a{

				&:before{
					right: 20px;
				}
			}
		}
	}
}