.custom-messages {
  border-radius: 0;
  border: none;
  border-left: 6px solid $color-info !important;
  padding-left: 50px !important;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  margin: 8px 0;
  position: relative;
  margin-bottom: 15px;
  h5 {
    margin: 0 0 4px 0;
    color: $black;
    font-size: 12px;
    font-weight: 600;
  }
  .content-alert {
    font-size: 12px;
    font-weight: normal;
    color: $black;
    a {
      color: $link;
      text-decoration: underline;
    }
  }
  span.ico-close {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 11px;
    i {
      font-size: 25px;
    }
  }
  &.alert-danger {
    border-left-color: $color-danger !important;
  }
  &.alert-warning {
    border-left-color: $color-warning !important;
  }
  &.alert-success {
    border-left-color: $color-success !important;
    span.ico-close {
      top: 10px;
    }
    i {
      color: $color-success;
    }
  }
}

.react-confirm-alert-overlay {
  z-index: 99999 !important;
}
