@import "./base/vars";

.main-billing-page {
  padding-top: 20px;
  position: relative;
  min-height: 600px;
  .header-section {
    .section-title {
      margin-bottom: 12px;
    }
    p {
      font-size: 12px;
    }
  }
}
.payment-methods-list {
  padding-top: 20px;
  h4 {
    margin-bottom: 12px;
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}

.card-check-list {
  label {
    margin: 0 8px 5px 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    span {
      font-size: 12px;
      position: relative;
      display: inline-block;
      padding-left: 20px;
      color: rgba($black,0.5);
      &:before {
        font-family: 'Material Icons';
        content: '\e145';
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 16px;
      }
    }
    input[type="checkbox"] {
      position: absolute;
      left: -80px;
      &:checked + span {
        color: $hover;
        &:before {
          content: '\e5ca';
        }
      }
    }
  }
}
.invoice-copy-form {
  .row {
    margin: 0 -15px;
    div[class*="col-"] {
      padding: 0 15px;
      position: relative;
    }
  }
  .btn-delete-item {
    position: absolute;
    right: -20px;
    cursor: pointer;
    top: 14px;
  }
}
.checkbox-flex-style {
  display: flex;
  padding-right: 0;
  align-items: center;
  margin: 0 3px 18px 0;
  .custom-checkbox-toggle {
    position: relative;
    top: 0;
  }
}
.fik-select-types {
  padding-left: 25px;
  padding-top: 5px;
  span {
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
    i {
      margin-left: 12px;
      color: $link;
    }
  }
}
.right-panel-billingitem {
  position: relative;
  .btn_addNew_main {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    line-height: 0;
    font-size: 0;
    text-indent: 0;
    background: none;
    border: none;
    cursor: pointer;
    &:hover,
    &.active {
      background: $lightbackground;
    }
    &.active ~ .drop_down_panel {
      opacity: 1;
      visibility: visible;
      transform: translateY(5px);
    }
  }
  .drop_down_panel {
    position: absolute;
    right: 0;
    top: 100%;
    width: 140px;
    background: $white;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    border-radius: 5px;
    transform: translateY(20px);
    transition: all 0.2s linear;
    box-shadow: 0 2px 4px rgba($black, 0.35);
    &.active {
      opacity: 1;
      visibility: visible;
    }
    .btn_addNew {
      padding: 8px 12px;
      border-radius: 0;
      color: $darkcolor;
      font-weight: 400;
      font-size: 12px;
      background: transparent;
      width: 100%;
      text-align: left;
      outline: none;
      background: none;
      border: none;
      i {
        margin-right: 8px;
        font-size: 0;
        display: inline-block;
        max-width: 23px;
        img {
          vertical-align: middle;
          margin-top: -3px;
          max-width: 20px;
        }
      }
      &:hover {
        background: $lightbackground;
      }
    }
  }
}
.billing-group-form {
  padding: 15px;
  h3,p {
    font-size: 12px;
  }
  .checkbox-row {
    padding-right: 100px;
    .custom-checkbox-toggle {
      top: -2px;
      right: 20px;
    }
  }
  .bottom-panel-button {
    padding-top: 15px;
  }
}

.form-items-section {
  padding: 15px;
  margin-bottom: 80px;
  h3 {
    font-size: 13px;
    margin-bottom: 15px;  
  }
  h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  p {
    font-size: 12px;
  }
  .wrapper-select {
    margin-bottom: 15px;
  }
  .label-input {
    margin-bottom: 15px;  
  }
  .bottom-form-area {
    padding-top: 15px;
  }
  .field-item-name {
    margin-bottom: 10px;
    .label-input,
    .wrapper-select {
      margin-bottom: 2px;
    }
  }
  .info-sec-field {
    padding-left: 25px;
    a {
      color: $darkcolor;
    }
    p {
      margin-bottom: 5px;
      color: $black;
    }
    h4 {
      font-weight: normal;
      text-decoration: underline;
      color: $link;
      font-size: 12px;
      margin-bottom: 0;
      cursor: pointer;
    }  
  }
  .settings-registration {
    p {
      min-width: 150px;
    }
  }
}

.popup-program-session {
  top: 0;
  height: 100%;
  right: 0;
  position: fixed;
  background: rgba($black, 0.2);
  .wrapper-sidebar {
    overflow: hidden;
    margin: 0 auto;
    right: 25px;
    top: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    header {
      border: none;
      h3 {
        font-weight: 600;
        font-size: 20px;
        color: $black;
        padding-bottom: 0; 
      }
    }
    .new-header {
      input[type="text"] {
        max-width: 390px;
      }
    }
  }
  .bottom-content {
    padding-bottom: 74px;
    height: calc(100% - 118px);
    max-width: 100%;
    overflow: auto;
  }
  .bottom-component-panel {
    position: sticky;
  }
  .select-program-sessions {
    padding-top: 5px;
    margin-bottom: 15px;  
    h2 {
      font-size: 14px;
      margin-bottom: 18px;
    }
    .program-by-date {
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      .icons {
        color: $lightlink;
        margin-bottom: 15px;
        &.disabled {
          pointer-events: none;
        }
      }
      .icons ~ h4 {
        margin-bottom: 15px;
        padding-left: 10px;
      }
      h4 {
        color: $lightlink;
        margin-bottom: 15px;
        font-size: 14px;
      }
      .list-program {
        margin-bottom: 15px;
        line-height: 24px;
        padding-left: 40px;
        position: relative;
        .icons {
          position: absolute;
          left: 8px;
          top: 0px;
          color: $link;
          margin-right: 0;
          margin-bottom: 0;
          &.disabled {
            pointer-events: none;
          }
          i {
            position: relative;
            top: -2px;
            font-size: 21px;
          }
        }
        .program-time {
          margin-right: 15px;
          font-size: 12px;
          color: $text;
          font-weight: 700;
          white-space: nowrap;
        }
        .program-title {
          font-size: 13px;
          font-weight: 600;
          color: rgba($black, 0.5);
        }
      }
    }
  }
  
}
.noscroll {
  overflow: hidden !important;
}
.wrapper-billing-section {
  padding: 0 5px;
  .row {
    margin: 0 -5px;
    div[class*="col-"] {
      padding: 0 5px;
    }
    .col-1 {
      max-width: 40px;
    }
    .col-11 {
      flex: 1;
      max-width: 100%;
    }
  }
  .header-billing {
    margin-bottom: 15px;
    border-bottom: 1px solid $link;
    padding-bottom: 10px;
    align-items: center;
    strong {
      font-size: 11px;
    }
    i {
      font-size: 18px;
      cursor: pointer;
    }
    .checkbox-items  {
      top: 4px;
    }
  }
  .checkbox-items {
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    top: 9px;
    input[type="checkbox"] {
      position: absolute;
      left: -50px;
      &:checked ~ span:before {
        content: '\e834';
      }
    }
   span:before {
      font-family: 'Material Icons';
      content: '\e835';
      font-size: 20px;
      color: $link;
    }
  }
  .practical-data-wrapper {
    .form-item-style {
      .practical-data-list {
        border: none;
        padding-bottom: 0;
      }
    }
    .inner-droppable {
      padding-left: 0;
      padding-top: 15px;
      .practical-data-list {
        border: none;
        padding: 0;
      }
    }
    .practical-data-list-wrapp {
      &.check {
        .form-item-style {
          .practical-data-list {
            background: $lightbackground !important;
          }
        }
        .practical-data-list {
          border-color: $link;
        }
      }
    }
  }
  .form-item-wrapper {
    .col-5 {
      flex: 1;
      max-width: 45%;
    }
    .col-3 {
      max-width: 190px;
    }
    h4 {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 2px;
      margin-top: 2px;
    }
    p {
      margin: 0;
      font-size: 12px;
    }
  }
  .parctical-button-panel {
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    .btn {
      background: none;
      padding: 0;
      color: $black;
      box-shadow: none !important;
      &:focus,&:active {
        box-shadow: none !important;
      }
      &.active {
        background: none;
      }
      i {
        font-size: 18px;
      }
    }
  }
  &.voucher-select-items {
    padding: 0 7px;
    .row {
      flex-wrap: initial;
      padding: 10px;
      align-items: center;
      border-radius: 3px;
      margin-bottom: 1px;
      .checkbox-items {
        top: 2px;
      }
      &:hover:not(.header-billing),
      &.selected {
        background: $lightbackground;
        &.error {
          background: rgba($color-danger, 0.1);
        }
      }
      &.header-billing {
        margin-bottom: 10px;
        border-radius: 0;
        border-top: 1px solid $link;
        .checkbox-items  {
          top: 4px;
        }
      }
      .value-meter {
        padding-left: 10px;
        color: rgba($black,0.4);
      }
      p {
        color: $black;
        margin: 0;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        strong {
          font-weight: 600;
        }
      }
      input[type="text"] {
        width: 60px;
        height: 38px;
        border: 1px solid $lightgray;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        color: $black;
      }
      select {
        width: 100%;
        height: 36px;
        border: 1px solid $lightgray;
        border-radius: 5px;
        appearance: none;
        font-size: 13px;
        padding: 5px 8px;
      }
      .grid-1 {
        min-width: 60px;
        padding: 0 7px;
      }
      .grid-2 {
        min-width: 100px;
        padding: 0 7px;
      }
      .grid-3 {
        width: 100%;
        padding: 0 7px;
      }
      .grid-4 {
        min-width: 220px;
        text-align: right;
        padding: 0 7px;
      }
      .grid-5 {
        min-width: 120px;
        padding: 0 7px;
      }
      .grid-6 {
        min-width: 140px;
        padding: 0 7px;
        text-align: left;
      }
      .grid-7 {
        min-width: 100px;
        padding: 0 7px;
        text-align: right;
      }
    }
    &.voucher-elements-inner {
      padding-top: 30px;
      padding-bottom: 15px;
      .row {
        .practical-edit-panel {
          float: right;
          span {
            margin-left: 15px;
            cursor: pointer;
          }
        }
        &:hover:not(.header-billing) {
          background: $white;
          color: $link;
          p {
            color: $link;
          }
        }
        &.header-billing {
          strong {
            text-transform: uppercase;
          }
        }
        .grid-4,
        .grid-7 {
          text-align: left;
        }
      }
    }
    &.voucher-elements-main {
      .row {
        padding: 5px 0px;
        .practical-edit-panel {
          span {
            display: inline-block;
            width: 26px;
            height: 26px;
            border-radius: 100%;
            line-height: 24px;
            text-align: center;
            cursor: pointer;
            &:hover {
              background-color: $lightgray;
            }
            img {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
        &:hover {
          p {
            color: $link;
          }
        }
        &.header-billing {
          strong {
            text-transform: uppercase;
          }
        }
        .grid-1 {
          min-width: 55px;
        }
        .grid-2 {
          min-width: 140px;
        }
        .grid-3 {
          min-width: 110px;
        }
        .grid-4 {
          text-align: left;
          min-width: 160px;
        }
        .grid-5,
        .grid-6 {
          min-width: 95px;
        }
        .grid-7 {
          min-width: 120px;
          text-align: left;
        }
        .grid-8 {
          min-width: 90px;
        }
      }
    }
  }
}
.label-input-dropdown {
  display: flex;
  cursor: pointer;
  input {
    border-radius: 5px 0 0 5px;
    cursor: pointer;
  }
  .btn {
    min-width: 58px;
    border-radius: 0 5px 5px 0;
    padding: 0;
    background: $darkcolor;
  }
}

.form-date-base {
  margin-bottom: 15px;
  padding-top: 5px;
  h4 {
    font-size: 12px;
    margin-bottom: 15px;  
  }
  .btn-add-form-row {
    color: $link;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    i {
      font-size: 21px;
      margin-right: 1px;
      position: relative;
      top: -1px;
    }
  }
}
.wrapp-form-date-base {
  .row {
    padding-right: 26px;
    position: relative;
    .label-input {
      margin-bottom: 10px;
    }
    .btn_remove_price {
      display: inline-block;
      position: absolute;
      right: 4px;
      top: 12px;
      color: $link;
      cursor: pointer;
    }
  }
}
.simple-drop-down {
  margin-bottom: 0;
  max-width: 100%;
  .css-spersy-control {
    border-color: $lightgray;
  }
  .css-b8ldur-Input {
    margin: 0;
    font-size: 13px;
    color: $text;
    max-width: 100%;
  }
  .css-g1d714-ValueContainer {
    padding: 0 8px !important;
  }
  .css-1uccc91-singleValue {
    font-size: 13px;
    color: $text;
  }
  .css-tlfecz-indicatorContainer {
    padding: 6px 8px;
  }
  .css-4ljt47-MenuList {
    padding: 0 !important;
  }
     .css-26l3qy-menu {
      .css-9gakcf-option {
        background-color: $lightbackground !important;
        color: $text !important;
        &:hover {
          background-color: $lightbackground !important;
          color: $text;
        }
      }
      div[id*="react-select-3-option"] {
        font-size: 13px;
        &:hover {
          background-color: $lightbackground !important;
        }
      }
      .css-1n7v3ny-option {
        background-color: $lightbackground !important;
        color: $text;
      }
    }
}
.wrapper-content {
  .eb-mandatory-field {
    margin-bottom: 8px;
    color: $black;
    font-size: 13px;
  }
}
.error-star {
  color: rgba($color-danger,0.6);
}