@import "blocks/logo";
@import "blocks/widgets";
@import "blocks/navigation/navigation";

.edgtf-header-vertical {
    .edgtf-content,
    footer{
        padding-left: $vertical-menu-width;
        box-sizing: border-box;
    }


    .edgtf-vertical-menu-area {
        position: fixed;
        width: $vertical-menu-width;
        top: 0;
        left: 0;
        padding: 30px 0;
        background-color: transparent;
        height: 100%;
        z-index: 101;
        -webkit-backface-visibility: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
    }

    &.admin-bar .edgtf-vertical-menu-area {
        top: 33px;
    }

    .edgtf-vertical-menu-area.edgtf-with-scroll {
        overflow: hidden;
    }

    .edgtf-vertical-area-background {
        position: fixed;
        width: $vertical-menu-width;
        height: 100%;
        background-position: right top;
        background-repeat: no-repeat;
        background-color:#f5f5f5;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 1;

        @include edgtfTransition(opacity 0.5s ease, background-color 0.5s ease);
    }

	.edgtf-search-wrapper{
		font-size:0;
		#s{
			border: none;
			padding-left:15px;
			border-bottom-left-radius: 20px;
			border-top-left-radius: 20px;
			background: #fff;
			outline:none;
			height: 41px;
			line-height: 41px;
			vertical-align: middle;
		}
		#searchsubmit{
			font-family: ElegantIcons;
			-webkit-appearance: none!important;
			background: #fff;
			border: none;
			padding-right:15px;
			border-bottom-right-radius: 20px;
			border-top-right-radius: 20px;
			outline:none!important;
			cursor:pointer;
			height: 41px;
			line-height: 41px;
			vertical-align: middle;
			color:#313131;
		}
	}

}