.single-events .edgtf-ttevents-single{
  .edgtf-ttevents-single-holder{

    h2{
      color:#313131;
      font-family: $second-font;
      font-size: 35px;
      font-weight: 500;
      margin-top: 53px;
      margin-bottom: 15px;
    }

    h3{
      color:#313131;
      font-family: $second-font;
      font-size: 22px;
      font-weight: 500;

      &.tt_event_margin_top_27{
        color:#313131;
        font-family: $second-font;
        font-size: 35px;
        font-weight: 500;
        text-transform: none;
        .tt_event_hours_count{
          display: none;
        }
      }
    }

    h5{
      font-family: $first-font;
      font-weight: 400;
      font-size: 22px;
      color:#898989;
    }

    p{
      font-family: $first-font;
      font-weight: 400;
      font-size: 14px;
      color:#888888;
    }


    ul.tt_event_hours{

      margin-top:32px;
      li{
        padding: 23px 25px 14px 32px;
        border: none;
        background-color: #f5f5f5;

        h4{
          font-family: $second-font;
          font-weight: 500;
          font-size: 22px;
          color:#313131;
          text-transform: uppercase;

        }
      }
    }
  }


  .edgtf-ttevents-single-content{
      .wpb_single_image{

        img{
          @include edgtfBorderRadius(4px);
        }
      }
  }


}

.widget.timetable_sidebar_box {
  h5{
    font-family: "Rubik", sans-serif;
    color: #313131;
    font-weight: 500;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 24px;
    position: relative;
    padding-bottom: 10px;
    font-size:18px;

    &:after{
      content:"";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 55px;
      height:2px;
      background-color: $first-main-color;
    }

  }
  &.widget_edgtf_twitter_widget{
    .edgtf_tweet_text{
        color:#313131;
        font-weight: 400;
        padding-left: 33px;
        font-family: $first-font;
        font-size: 14px;

        a{
          &:hover{
            color:$first-main-color;
          }
        }

        &:before{
          content: "\ea96";
          font-family: 'icomoon' !important;
          color:#313131;
          position: absolute;
          left: 0;
        }

    }

    .edgtf_tweet_time a{
      font-family: $first-font;
      font-size: 14px;
      color:#757575;
      font-weight: 400;
      padding-left: 33px;
    }
  }


  &.widget_edgtf_instagram_widget{
    h5{
      margin-bottom:31px;
    }
  }

}