@include ipad-landscape{

  table.tt_timetable td.tt_hours_column{
    padding: 0 10px;
  }
}

@include ipad-portrait{
  table.tt_timetable{

    .event{

      .event_header{
        font-size: 15px!important;
      }
    }
  }

  .tt_tabs{

    .tt_timetable{

      .event{
        padding-top: 20px!important;
      }
    }
  }
}