#ebs-404-page {
    display: flex;
    align-items: center;
    height: 100%;


    h4 {
        margin: 0;
        margin-bottom: 10px;
        color: #666;
        font-weight: 600;
    }

    h1 {
        margin: 0;
        color: #000;
        margin-bottom: 20px;
        font-size: 42px;
        font-weight: 700;
    }

    p {
        font-size: 18px;
        color: #666;
        margin: 0;
        margin-bottom: 30px;

        a {
            color: #000;
            font-style: italic;
        }
    }

    .ebs-error-content {
        max-width: 540px;

        .ebs-btn-back {
            display: inline-block;
            background: url(../img/ico-undo.svg) no-repeat 24px center #000;
            padding: 15px 25px 15px 58px;
            color: #fff;
            border-radius: 4px;
            font-size: 18px;
            font-weight: 700;
        }
    }
}