// Base
@import "./base/vars";

// Vendors
@import "./vendors/index";

@import "./404";


@-moz-document url-prefix() {
  select,
  select:-moz-focusring,
  select::-moz-focus-inner {
    color: transparent !important;
    text-shadow: 0 0 0 $black !important;
    background-image: none !important;
    border: 0;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media screen and (device-aspect-ratio: 2/3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 14px; }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 14px; }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"], 
  input[type="tel"], input[type="url"]{ font-size: 14px; }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="tel"], input[type="url"]{ font-size: 14px; }
}

textarea:focus,input:focus,.form-control:focus {
  outline: none;
  box-shadow: 0 0 4px var(--darkcolor);
  border-color: 1px solid var(--darkcolor);
}
.wrapper-select input:focus {
  box-shadow: none;
}
input[type="number"] {
  -moz-appearance: textfield !important; /* Firefox */
}
body {
  font-family: $defaultFont;
  font-size: 14px;
  overflow-x: hidden;
}
html,body,#root,#App,.main-section{
  height: 100%;
}
// Material Icons
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}
// Material Icons Close
select {
  font-family: $defaultFont;
}
.btn {
  background: $link;
  color: $white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  padding: 12px 30px;
  position: relative;
  &:hover {
    background: $hover;
    color: $white;
  }
  &.disabled {
    background: $gray;
  }
  i {
    font-size: 20px;
    vertical-align: middle;
  }
  &.btn-save {
    min-width: 330px;
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: 600;
  margin-bottom: 20px;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 12px;
}
.error {
  border-color: $dangerlight !important;
}
.error-message {
  background: rgba($dangerlight, 0.16);
  padding: 10px 15px 10px 35px!important;
  &::before {
    color: $dangerlight;
    content: '\e88e';
    font-family: "Material Icons";
    font-size: 20px;
    position: absolute;
    left: 9px;
    top: 4px;
  }
  i {
    margin-right: 5px;
    font-size: 20px;
  }
}
.success-message {
  background: $color-success;
  padding: 10px 15px 10px 20px!important;
}
.error-message, .success-message {
  margin-top: 0 !important;
  margin-bottom: 10px;
  font-size: 12px;
  border-radius: 5px;
  color: $black !important;
  display: flex;
  align-items: center;
  position: relative;
}
.ebs-title-box {
  .section-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 15px;
    text-transform: uppercase;
    @media (max-width: $breakpoint-tablet) {
      & {
        font-size: 24px;
        margin-bottom: 15px;
      }
    }
  }
  .ebs-back-summary {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: flex-end;
    text-decoration: none;
    i {
      margin-right: 5px;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
.ico-tooltip-info {
  position: relative;
  top: -1px;
  cursor: pointer;
  font-size: 12px;
}
.main-section {
  padding-top: 80px;
  &.ebs-has-steps {
    height: calc(100% - 135px);
    @media (max-width: $breakpoint-mobile) {
      height: calc(100% - 185px);
      &.ebs-toggle-wrapper {
        height: calc(100% - 65px);
      }
    }
  }

  .master-container {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  @media (max-width: $breakpoint-tablet) {
    padding-top: 80px;
    &.review-order-section {
      > div {
        padding-bottom: 88px;
      }
    }
    .master-container {
      & {
        min-width: 100%;
        padding-left: 0;
        padding-right: 0;
        min-height: 100%;
        > .row {
          margin-left: 0;
          margin-right: 0;
        }
      }
      .section-title {
        padding-left: 0;
      }
      .ebs-back-summary {
        margin-right: 10px;
      }
    }
    .generic-form {
      width: 100% !important;
    }
    .footer {
      .container {
        max-width: 100%;
      }
    }
  }
  .ebs-alert-warning {
    .alert {
      background-color: #FEF5D4;
      color: $black;
      border-radius: 5px;
      margin: 12px 0 0 0;
      position: relative;
      padding-left: 35px;
      i.material-icons {
        position: absolute;
        left: 10px;
        top: 13px;
        font-size: 20px;
        color: $warning;
      }
    }
    & ~ .master-container {
      padding-top: 30px;
    }
  }
}

.main-section-embed{
  padding-top: 0px;
}

//Timepicker
.time-picker-wrapper {
  position: relative;
  .time-wrapper {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 11;
    background: $white;
    padding: 15px;
    width: 194px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 3px 6px rgba($black, 0.16);
    text-align: center;
    .navigation-time-wrapper {
      margin-bottom: 10px;
      span {
        display: inline-block;
        font-size: 12px;
        color: $gray;
        cursor: pointer;
        margin: 0 5px;
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
        &.active {
          color: $black;
          border-color: $black;
        }
      }
    }
    .main-time-area {
      .time-card {
        cursor: pointer;
        display: inline-block;
        border-radius: 5px;
        width: 27px;
        height: 27px;
        font-size: 13px;
        color: $black;
        line-height: 27px;
        text-align: center;
        margin: 2px 7px;
        &:hover,
        &.active {
          color: $white;
          background: $link;
        }
        &.active {
          font-weight: 600;
        }
      }
    }
  }
  .separator {
    min-width: 20px;
    text-align: center;
    font-size: 16px;
  }
  .time-column {
    min-width: 60px;
    .btn {
      width: 40px;
      height: 40px;
      padding: 0;
      display: block;
      background: rgba($gray, 0.1);
      color: $black;
      margin: auto;
      &.timer {
        background: none;
        border: 1px solid $lightgray;
        box-shadow: none;
        outline: none;
        margin: 10px auto;
        &:focus {
          box-shadow: none;
          outline: none;
          border-color: $hover;
        }
      }
    }
  }
}
.track-vertical {
  background: $lightgray;
}
.site-blocker {
  height: 100%;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  background-color: rgba($black, 0.16);
}