// Breakpoints
// @import './breakpoints';

// Colors
$color-primary: #F3832F !default;
$color-primary-light: #F6E7C6 !default;
$color-secondary: #5D6365 !default;
$color-success: $color-primary !default;
// $color-success: #67c23a !default;
$color-warning: #eb9e05 !default;
$color-danger: #F80A0A !default;
$dangerlight: #E45154 !default;
$color-info: #878d99 !default;
$white: #fff !default;
$black: #000 !default;
$lightgray: #E4E4E4 !default;
$gray: #9D9D9D !default;
$border: #BEBEBE !default;
$link: #0FA1C1 !default;
$hover: #85BB24 !default;
$darkcolor: #0FA1C1 !default;
$error: #E45154 !default;
$grayf5: #F5F5F5 !default;
$text: #212121 !default;


// Social colors

$color-instagram: #e4405f;
$color-twitter: #55acee;
$color-pinterest: #bd081c;
$color-facebook: #3b5999;
$color-youtube: #cd201f;

// Font Family
$defaultFont: 'Open Sans', sans-serif;

// Dark Theme
$wrapper: #575656 !default;
$lighttext: #BBC6C9 !default;

// Dark Theme2
$wrapperbg: #22313D !default;
$wrapper2: #344B5D !default;