// Breakpoints
// @import './breakpoints';

// Colors
$color-primary: #1cb495 !default;
$color-primary-light: #5defd2 !default;
$color-secondary: #109BC5 !default;
$color-success: #84BF6C !default;
// $color-success: #67c23a !default;
$color-warning: #F98C00 !default;
$color-danger: #B00020 !default;
$dangerlight: #E45154 !default;
$color-info: #878d99 !default;
$white: #fff !default;
$black: #000 !default;
$lightgray: #E4E4E4 !default;
$light: #fcfcfc !default;
$gray: #6D6D6D !default;
$border: #d5d5d5 !default;
$link: #0072BC !default;
$lightlink: #86A4AE !default;
$hover: #1B9BC5 !default;
$text: #707070 !default;
$borderhover: #344F5B !default;
$lightbackground: #E8F1F4 !default;
$borderlight: #DEDFE1 !default;
$darkcolor: #86A4AE !default;
$lightheader: #EEF2F4 !default;
$darktext: #192F38 !default;
$lightgreen: #C6CD53 !default;


// Social colors

$color-instagram: #e4405f;
$color-twitter: #55acee;
$color-pinterest: #bd081c;
$color-facebook: #3b5999;
$color-youtube: #FB4A38;
$color-linkedin: #0078AA;

// Font Family
$defaultFont: 'SF Pro Display', sans-serif;
$secondryFont: 'Open Sans', sans-serif;